flow2025/06/DOKrExoJN16sCrVF.json
{
  "active": false,
  "connections": {
    "发起 Fal 绘图 请求": {
      "main": [
        [
          {
            "node": "等待3秒",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回复错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成提示词": {
      "main": [
        [
          {
            "node": "按风格路线",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "按风格路线": {
      "main": [
        [
          {
            "node": "Hyper-Surreal Escape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post-Analog Glitchscape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Dystopia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neon Fauvism",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Vivid Pop Explosion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "None",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM生成提示词": {
      "main": [
        [
          {
            "node": "生成提示词",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM生成提示词1": {
      "main": [
        [
          {
            "node": "生成提示词",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "LLM生成提示词1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM生成提示词",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Post-Analog Glitchscape": {
      "main": [
        [
          {
            "node": "调用 硅基流动 推理 API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hyper-Surreal Escape": {
      "main": [
        [
          {
            "node": "调用 硅基流动 推理 API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "None": {
      "main": [
        [
          {
            "node": "调用 硅基流动 推理 API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neon Fauvism": {
      "main": [
        [
          {
            "node": "调用 硅基流动 推理 API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Dystopia": {
      "main": [
        [
          {
            "node": "调用 硅基流动 推理 API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vivid Pop Explosion": {
      "main": [
        [
          {
            "node": "调用 硅基流动 推理 API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "将图片上传到 R1": {
      "main": [
        [
          {
            "node": "If条件判断2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "绘画含有敏感内容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n 表单触发器": {
      "main": [
        [
          {
            "node": "If条件判断",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If条件判断": {
      "main": [
        [
          {
            "node": "LLM生成提示词",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM生成提示词1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取图片": {
      "main": [
        [
          {
            "node": "下载图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询进度": {
      "main": [
        [
          {
            "node": "If条件判断1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回复错误1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载图片": {
      "main": [
        [
          {
            "node": "将图片上传到 R1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待3秒": {
      "main": [
        [
          {
            "node": "查询进度",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If条件判断2": {
      "main": [
        [
          {
            "node": "提供结果网页",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回复错误2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If条件判断1": {
      "main": [
        [
          {
            "node": "获取图片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "等待3秒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meta BG1": {
      "main": [
        [
          {
            "node": "Nest Bg Meta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nest Bg Meta1": {
      "main": [
        [
          {
            "node": "Rename Image Binary Background Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Center1": {
      "main": [
        []
      ]
    },
    "Wait for both Images and merge Binary in one Item1": {
      "main": [
        [
          {
            "node": "Calculate Center1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Let \"top\" overlay \"bg\"1": {
      "main": [
        []
      ]
    },
    "调用 硅基流动 推理 API1": {
      "main": [
        [
          {
            "node": "Get Meta BG1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回复错误3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Image Binary Background Image1": {
      "main": [
        [
          {
            "node": "提供结果网页2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-28T13:25:53.117Z",
  "id": "DOKrExoJN16sCrVF",
  "isArchived": false,
  "meta": null,
  "name": "flux生图",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.siliconflow.cn/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $('生成提示词').item.json.prompt }},style:{{ $json.stylePrompt }}"
            },
            {
              "name": "image_size",
              "value": "=1024x1024"
            },
            {
              "name": "batch_size",
              "value": "1"
            },
            {
              "name": "num_inference_steps",
              "value": "20"
            },
            {
              "name": "guidance_scale",
              "value": "7.5"
            },
            {
              "name": "model",
              "value": "Kwai-Kolors/Kolors"
            }
          ]
        },
        "options": {}
      },
      "id": "7b2c5d77-4484-465e-ac28-30a3ee97912c",
      "name": "发起 Fal 绘图 请求",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        20
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "vL4PuXmIFb5sE1K0",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "apHQJpX0D9UucFvr",
          "name": "Bearer Auth account"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput",
      "notes": " "
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"formSubmittedText\": \"Fal API 调用失败，重试或刷新试试 \"\n}",
        "options": {}
      },
      "id": "5143fbbf-05d5-4c9a-8ba3-f5809e07396c",
      "name": "回复错误",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        620,
        280
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "457eff4f-c9a9-4698-994b-9cdfb04f46f0",
              "name": "prompt",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4f7007e-f22f-48c6-bc84-cc090a721a12",
      "name": "生成提示词",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        500
      ],
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('n8n 表单触发器').item.json.Style }}",
                    "rightValue": "超现实逃逸"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hyper-Surreal Escape"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "106969fa-994c-4b1e-b693-fc0b48ce5f3d",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('n8n 表单触发器').item.json.Style }}",
                    "rightValue": "后模拟故障景观"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post-Analog Glitchscape"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "24318e7d-4dc1-4369-b045-bb7d0a484def",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('n8n 表单触发器').item.json.Style }}",
                    "rightValue": "AI 反乌托邦"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI Dystopia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a80911ff-67fc-416d-b135-0401c336d6d8",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('n8n 表单触发器').item.json.Style }}",
                    "rightValue": "霓虹野兽派"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Neon Fauvism"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7fdeec28-194e-415e-8da2-8bac90e4c011",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('n8n 表单触发器').item.json.Style }}",
                    "rightValue": "鲜艳流行爆炸"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vivid Pop Explosion"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "dd8cd4ed-431b-49de-970d-111035d36971",
      "name": "按风格路线",
      "type": "n8n-nodes-base.switch",
      "position": [
        -220,
        440
      ],
      "typeVersion": 3.1,
      "notesInFlow": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"zh-CN\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Flux 图片生成结果</title>\n    <style>\n        body {\n            font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            justify-content: flex-start;\n            min-height: 100vh;\n            background-color: #121212;\n            color: #e0e0e0;\n            margin: 0;\n            padding: 20px;\n        }\n\n        .container {\n            width: 90%;\n            max-width: 800px;\n            text-align: center;\n            background: linear-gradient(145deg, #1e1e1e, #242424);\n            padding: 32px;\n            border-radius: 16px;\n            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);\n            margin-bottom: 32px;\n        }\n\n        .image-container {\n            margin-bottom: 24px;\n        }\n\n        .image-container img {\n            max-width: 100%;\n            height: auto;\n            border-radius: 12px;\n            border: 2px solid #333;\n            transition: transform 0.3s ease, box-shadow 0.3s ease;\n        }\n\n        .image-container img:hover {\n            transform: scale(1.02);\n            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);\n        }\n\n        .style-text {\n            font-size: 18px;\n            margin: 24px 0;\n            color: #bbb;\n            padding: 12px;\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 8px;\n        }\n\n        .cta {\n            display: inline-block;\n            width: auto;\n            min-width: 200px;\n            margin: 20px 0 0;\n            padding: 16px 32px;\n            border: none;\n            border-radius: 8px;\n            text-decoration: none;\n            color: #fff;\n            background: linear-gradient(135deg, #1C9985, #20B69E);\n            font-size: 18px;\n            font-weight: 500;\n            cursor: pointer;\n            transition: all 0.3s ease;\n        }\n\n        .cta:hover {\n            background: linear-gradient(135deg, #20B69E, #25D4B8);\n            transform: translateY(-2px);\n            box-shadow: 0 8px 16px rgba(28, 153, 133, 0.3);\n        }\n\n        .recent-renders {\n            width: 90%;\n            max-width: 800px;\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 24px;\n            margin-top: 32px;\n        }\n\n        .recent-render {\n            background-color: #2c2c2c;\n            padding: 16px;\n            border-radius: 12px;\n            transition: transform 0.3s ease, box-shadow 0.3s ease;\n        }\n\n        .recent-render:hover {\n            transform: translateY(-4px);\n            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);\n        }\n\n        .recent-render img {\n            width: 100%;\n            height: auto;\n            border-radius: 8px;\n            border: 2px solid #333;\n            transition: transform 0.3s ease;\n        }\n\n        /* 隐藏额外的图片 */\n        .recent-render:nth-child(n+5) {\n            display: none;\n        }\n\n        /* 显示更多按钮样式 */\n        .show-more-label {\n            display: inline-block;\n            width: 90%;\n            max-width: 800px;\n            margin: 32px auto;\n            padding: 16px;\n            background: #2c2c2c;\n            color: #fff;\n            border: none;\n            border-radius: 8px;\n            font-size: 16px;\n            cursor: pointer;\n            transition: all 0.3s ease;\n            text-align: center;\n        }\n\n        .show-more-label:hover {\n            background: #333;\n            transform: translateY(-2px);\n        }\n\n        /* 隐藏复选框 */\n        #show-more {\n            display: none;\n        }\n\n        /* 当复选框被选中时显示额外的图片 */\n        #show-more:checked ~ .recent-renders .recent-render:nth-child(n+5) {\n            display: block;\n        }\n\n        /* 当复选框被选中时隐藏显示更多按钮 */\n        #show-more:checked ~ .show-more-label {\n            display: none;\n        }\n\n        @media (max-width: 768px) {\n            .recent-renders {\n                grid-template-columns: 1fr;\n            }\n            \n            .container {\n                padding: 20px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"image-container\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id }}.jpeg\" alt=\"生成的图片\" />\n        </div>\n        <div class=\"style-text\">图片风格: {{ $('n8n 表单触发器').item.json.Style }}</div>\n        <a href=\"https://note.ff2a.com/flux\" class=\"cta\">更多提示词</a>\n    </div>\n\n    <!-- 添加隐藏的复选框 -->\n    <input type=\"checkbox\" id=\"show-more\">\n\n    <div class=\"recent-renders\">\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 1 }}.jpeg\" alt=\"最近渲染 1\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 2 }}.jpeg\" alt=\"最近渲染 2\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 3 }}.jpeg\" alt=\"最近渲染 3\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 4 }}.jpeg\" alt=\"最近渲染 4\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 5 }}.jpeg\" alt=\"最近渲染 5\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 6 }}.jpeg\" alt=\"最近渲染 6\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 7 }}.jpeg\" alt=\"最近渲染 7\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 8 }}.jpeg\" alt=\"最近渲染 8\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 9 }}.jpeg\" alt=\"最近渲染 9\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 10 }}.jpeg\" alt=\"最近渲染 10\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 11 }}.jpeg\" alt=\"最近渲染 11\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 12 }}.jpeg\" alt=\"最近渲染 12\">\n        </div>\n    </div>\n\n    <!-- 显示更多按钮标签 -->\n    <label for=\"show-more\" class=\"show-more-label\">显示更多</label>\n</body>\n</html>",
        "options": {}
      },
      "id": "347193fd-9155-4188-9276-f3df35721cdc",
      "name": "提供结果网页",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2020,
        80
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个基于Flux.1.1-Pro模型的提示词生成机器人。根据用户的需求，自动生成符合Flux.1.1-Pro格式的绘画提示词。虽然你可以参考提供的模板来学习提示词结构和规律，但你必须具备灵活性来应对各种不同需求。最终输出应仅限提示词，无需任何其他解释或信息。你的回答必须全部使用英语进行回复我！\n\n### **提示词生成逻辑**：\n\n1. **需求解析**：从用户的描述中提取关键信息，包括：\n   - 角色：外貌、动作、表情等。\n   - 场景：环境、光线、天气等。\n   - 风格：艺术风格、情感氛围、配色等。\n   - 其他元素：特定物品、背景或特效。\n\n2. **提示词结构规律**：\n   - **简洁、精确且具象**：提示词需要简单、清晰地描述核心对象，并包含足够细节以引导生成出符合需求的图像。\n   - **灵活多样**：参考下列模板和已有示例，但需根据具体需求生成多样化的提示词，避免固定化或过于依赖模板。\n   - **符合Flux.1.1-Pro风格的描述**：提示词必须遵循Flux.1.1-Pro的要求，尽量包含艺术风格、视觉效果、情感氛围的描述，使用与Flux.1.1-Pro模型生成相符的关键词和描述模式。\n\n3. **仅供你参考和学习的几种场景提示词**（你需要学习并灵活调整,\"[ ]\"中内容视用户问题而定）：\n   - **角色表情集**：\n场景说明：适合动画或漫画创作者为角色设计多样的表情。这些提示词可以生成展示同一角色在不同情绪下的表情集，涵盖快乐、悲伤、愤怒等多种情感。\n\n提示词：An anime [SUBJECT], animated expression reference sheet, character design, reference sheet, turnaround, lofi style, soft colors, gentle natural linework, key art, range of emotions, happy sad mad scared nervous embarrassed confused neutral, hand drawn, award winning anime, fully clothed\n\n[SUBJECT] character, animation expression reference sheet with several good animation expressions featuring the same character in each one, showing different faces from the same person in a grid pattern: happy sad mad scared nervous embarrassed confused neutral, super minimalist cartoon style flat muted kawaii pastel color palette, soft dreamy backgrounds, cute round character designs, minimalist facial features, retro-futuristic elements, kawaii style, space themes, gentle line work, slightly muted tones, simple geometric shapes, subtle gradients, oversized clothing on characters, whimsical, soft puffy art, pastels, watercolor\n\n   - **全角度角色视图**：\n场景说明：当需要从现有角色设计中生成不同角度的全身图时，如正面、侧面和背面，适用于角色设计细化或动画建模。\n\n提示词：A character sheet of [SUBJECT] in different poses and angles, including front view, side view, and back view\n\n   - **80 年代复古风格**：\n场景说明：适合希望创造 80 年代复古风格照片效果的艺术家或设计师。这些提示词可以生成带有怀旧感的模糊宝丽来风格照片。\n\n提示词：blurry polaroid of [a simple description of the scene], 1980s.\n\n   - **智能手机内部展示**：\n场景说明：适合需要展示智能手机等产品设计的科技博客作者或产品设计师。这些提示词帮助生成展示手机外观和屏幕内容的图像。\n\n提示词：a iphone product image showing the iphone standing and inside the screen the image is shown\n\n   - **双重曝光效果**：\n场景说明：适合摄影师或视觉艺术家通过双重曝光技术创造深度和情感表达的艺术作品。\n\n提示词：[Abstract style waterfalls, wildlife] inside the silhouette of a [man]’s head that is a double exposure photograph . Non-representational, colors and shapes, expression of feelings, imaginative, highly detailed\n\n   - **高质感电影海报**：\n场景说明：适合需要为电影创建引人注目海报的电影宣传或平面设计师。\n\n提示词：A digital illustration of a movie poster titled [‘Sad Sax: Fury Toad’], [Mad Max] parody poster, featuring [a saxophone-playing toad in a post-apocalyptic desert, with a customized car made of musical instruments], in the background, [a wasteland with other musical vehicle chases], movie title in [a gritty, bold font, dusty and intense color palette].\n\n   - **镜面自拍效果**：\n场景说明：适合想要捕捉日常生活瞬间的摄影师或社交媒体用户。\n\n提示词：Phone photo: A woman stands in front of a mirror, capturing a selfie. The image quality is grainy, with a slight blur softening the details. The lighting is dim, casting shadows that obscure her features. [The room is cluttered, with clothes strewn across the bed and an unmade blanket. Her expression is casual, full of concentration], while the old iPhone struggles to focus, giving the photo an authentic, unpolished feel. The mirror shows smudges and fingerprints, adding to the raw, everyday atmosphere of the scene.\n\n   - **像素艺术创作**：\n场景说明：适合像素艺术爱好者或复古游戏开发者创造或复刻经典像素风格图像。\n\n提示词：[Anything you want] pixel art style, pixels, pixel art\n\n   - **以上部分场景仅供你学习，一定要学会灵活变通，以适应任何绘画需求**：\n\n4. **Flux.1.1-Pro提示词要点总结**：\n   - **简洁精准的主体描述**：明确图像中核心对象的身份或场景。\n   - **风格和情感氛围的具体描述**：确保提示词包含艺术风格、光线、配色、以及图像的氛围等信息。\n   - **动态与细节的补充**：提示词可包括场景中的动作、情绪、或光影效果等重要细节。\n   - **其他更多规律请自己寻找**\n---\n\n**问答案例**：\n**用户输入**：一个80年代复古风格的照片。\n**你的输出**：`A blurry polaroid of a 1980s living room, with vintage furniture, soft pastel tones, and a nostalgic, grainy texture,  The sunlight filters through old curtains, casting long, warm shadows on the wooden floor, 1980s,`\n\n**问答案例2**：\n**用户输入**：一个赛博朋克风格的夜晚城市背景。\n**你的输出**：`A futuristic cityscape at night, in a cyberpunk style, with neon lights reflecting off wet streets, towering skyscrapers, and a glowing, high-tech atmosphere. Dark shadows contrast with vibrant neon signs, creating a dramatic, dystopian mood.`\n\n用户的输入为：{{ $('n8n 表单触发器').item.json.Prompt }}\n\n"
      },
      "id": "5674c9c3-75ad-4ed3-a438-1286e8ed8704",
      "name": "LLM生成提示词",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -820,
        200
      ],
      "retryOnFail": true,
      "notesInFlow": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"formSubmittedText\": \"Fal API调用失败，重试或刷新试试 \"\n}",
        "options": {}
      },
      "id": "2ba2597b-97e8-49d9-8c21-2824bf687461",
      "name": "回复错误1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        840,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一个基于Flux.1.1-Pro模型的提示词生成机器人。根据用户的需求，自动生成符合Flux.1.1-Pro格式的绘画提示词。虽然你可以参考提供的模板来学习提示词结构和规律，但你必须具备灵活性来应对各种不同需求。最终输出应仅限提示词，无需任何其他解释或信息。你的回答必须全部使用英语进行回复我！\n\n### **提示词生成逻辑**：\n\n1. **需求解析**：从用户的描述中提取关键信息，包括：\n   - 角色：外貌、动作、表情等。\n   - 场景：环境、光线、天气等。\n   - 风格：艺术风格、情感氛围、配色等。\n   - 其他元素：特定物品、背景或特效。\n\n2. **提示词结构规律**：\n   - **简洁、精确且具象**：提示词需要简单、清晰地描述核心对象，并包含足够细节以引导生成出符合需求的图像。\n   - **灵活多样**：参考下列模板和已有示例，但需根据具体需求生成多样化的提示词，避免固定化或过于依赖模板。\n   - **符合Flux.1.1-Pro风格的描述**：提示词必须遵循Flux.1.1-Pro的要求，尽量包含艺术风格、视觉效果、情感氛围的描述，使用与Flux.1.1-Pro模型生成相符的关键词和描述模式。\n\n3. **仅供你参考和学习的几种场景提示词**（你需要学习并灵活调整,\"[ ]\"中内容视用户问题而定）：\n   - **角色表情集**：\n场景说明：适合动画或漫画创作者为角色设计多样的表情。这些提示词可以生成展示同一角色在不同情绪下的表情集，涵盖快乐、悲伤、愤怒等多种情感。\n\n提示词：An anime [SUBJECT], animated expression reference sheet, character design, reference sheet, turnaround, lofi style, soft colors, gentle natural linework, key art, range of emotions, happy sad mad scared nervous embarrassed confused neutral, hand drawn, award winning anime, fully clothed\n\n[SUBJECT] character, animation expression reference sheet with several good animation expressions featuring the same character in each one, showing different faces from the same person in a grid pattern: happy sad mad scared nervous embarrassed confused neutral, super minimalist cartoon style flat muted kawaii pastel color palette, soft dreamy backgrounds, cute round character designs, minimalist facial features, retro-futuristic elements, kawaii style, space themes, gentle line work, slightly muted tones, simple geometric shapes, subtle gradients, oversized clothing on characters, whimsical, soft puffy art, pastels, watercolor\n\n   - **全角度角色视图**：\n场景说明：当需要从现有角色设计中生成不同角度的全身图时，如正面、侧面和背面，适用于角色设计细化或动画建模。\n\n提示词：A character sheet of [SUBJECT] in different poses and angles, including front view, side view, and back view\n\n   - **80 年代复古风格**：\n场景说明：适合希望创造 80 年代复古风格照片效果的艺术家或设计师。这些提示词可以生成带有怀旧感的模糊宝丽来风格照片。\n\n提示词：blurry polaroid of [a simple description of the scene], 1980s.\n\n   - **智能手机内部展示**：\n场景说明：适合需要展示智能手机等产品设计的科技博客作者或产品设计师。这些提示词帮助生成展示手机外观和屏幕内容的图像。\n\n提示词：a iphone product image showing the iphone standing and inside the screen the image is shown\n\n   - **双重曝光效果**：\n场景说明：适合摄影师或视觉艺术家通过双重曝光技术创造深度和情感表达的艺术作品。\n\n提示词：[Abstract style waterfalls, wildlife] inside the silhouette of a [man]’s head that is a double exposure photograph . Non-representational, colors and shapes, expression of feelings, imaginative, highly detailed\n\n   - **高质感电影海报**：\n场景说明：适合需要为电影创建引人注目海报的电影宣传或平面设计师。\n\n提示词：A digital illustration of a movie poster titled [‘Sad Sax: Fury Toad’], [Mad Max] parody poster, featuring [a saxophone-playing toad in a post-apocalyptic desert, with a customized car made of musical instruments], in the background, [a wasteland with other musical vehicle chases], movie title in [a gritty, bold font, dusty and intense color palette].\n\n   - **镜面自拍效果**：\n场景说明：适合想要捕捉日常生活瞬间的摄影师或社交媒体用户。\n\n提示词：Phone photo: A woman stands in front of a mirror, capturing a selfie. The image quality is grainy, with a slight blur softening the details. The lighting is dim, casting shadows that obscure her features. [The room is cluttered, with clothes strewn across the bed and an unmade blanket. Her expression is casual, full of concentration], while the old iPhone struggles to focus, giving the photo an authentic, unpolished feel. The mirror shows smudges and fingerprints, adding to the raw, everyday atmosphere of the scene.\n\n   - **像素艺术创作**：\n场景说明：适合像素艺术爱好者或复古游戏开发者创造或复刻经典像素风格图像。\n\n提示词：[Anything you want] pixel art style, pixels, pixel art\n\n   - **以上部分场景仅供你学习，一定要学会灵活变通，以适应任何绘画需求**：\n\n4. **Flux.1.1-Pro提示词要点总结**：\n   - **简洁精准的主体描述**：明确图像中核心对象的身份或场景。\n   - **风格和情感氛围的具体描述**：确保提示词包含艺术风格、光线、配色、以及图像的氛围等信息。\n   - **动态与细节的补充**：提示词可包括场景中的动作、情绪、或光影效果等重要细节。\n   - **其他更多规律请自己寻找**\n---\n\n**问答案例**：\n**用户输入**：一个80年代复古风格的照片。\n**你的输出**：`A blurry polaroid of a 1980s living room, with vintage furniture, soft pastel tones, and a nostalgic, grainy texture,  The sunlight filters through old curtains, casting long, warm shadows on the wooden floor, 1980s,`\n\n**问答案例2**：\n**用户输入**：一个赛博朋克风格的夜晚城市背景。\n**你的输出**：`A futuristic cityscape at night, in a cyberpunk style, with neon lights reflecting off wet streets, towering skyscrapers, and a glowing, high-tech atmosphere. Dark shadows contrast with vibrant neon signs, creating a dramatic, dystopian mood.`\n\n用户的输入为：{{ $('n8n 表单触发器').item.json.Prompt }}\n\n并结合根据图片生成类似图片内容的提示词：",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "_________"
            }
          ]
        }
      },
      "id": "ac4db403-508d-4d0d-924e-241f6d7f788b",
      "name": "LLM生成提示词1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -820,
        700
      ],
      "retryOnFail": true,
      "notesInFlow": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "=gemini-2.5-flash",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "id": "11cafad8-db70-42ce-9172-661e767d9c77",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        920
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "DGTbpnd2WNVix3Be",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "id": "b9045b46-e6f8-4980-88de-ea5cc12bd3d0",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        420
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "DGTbpnd2WNVix3Be",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"formSubmittedText\": \"警告！生成的图片疑似含有敏感内容 \"\n}",
        "options": {}
      },
      "id": "b2a393b4-ad86-4fc1-ac2e-0c521f313b67",
      "name": "绘画含有敏感内容",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1800,
        420
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ec60f33-b940-40a6-9f8a-cb944b7065f1",
              "name": "stylePrompt",
              "type": "string",
              "value": "=rule of thirds, asymmetric composition, glitch art, pixelation, VHS noise, octane render, unreal engine, 8k ::7 --ar 16:9 --s 1200\nDesign a glitchy, post-analog world with digital decay and broken visuals. Utilize pixelated elements, VHS noise, and neon glitches to create a fragmented aesthetic. Use bold, contrasting colors against muted backgrounds for a high-contrast, otherworldly feel. The composition should follow asymmetrical rules, focusing on chaotic yet intentional visual balance. Include:"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "abd6f48c-024b-4eae-8adb-87bc4b5ea976",
      "name": "Post-Analog Glitchscape",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        200
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": " "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ec60f33-b940-40a6-9f8a-cb944b7065f1",
              "name": "stylePrompt",
              "type": "string",
              "value": "=golden ratio, rule of thirds, cyberpunk, glitch art, octane render, cinematic realism, 8k ::7 --ar 16:9 --s 1000\nCreate a hyper-realistic yet surreal landscape that bends reality, incorporating dreamlike elements and exaggerated proportions. Use vibrant, almost neon colors, and focus on a sense of wonder, play, and fantasy. Include:\n"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cf00f946-9a7d-4975-8725-66894c97c729",
      "name": "Hyper-Surreal Escape",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        0
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": " "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ec60f33-b940-40a6-9f8a-cb944b7065f1",
              "name": "stylePrompt",
              "type": "string",
              "value": "=Include: "
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "833d5647-2c41-42ba-88fb-3ea2bf217383",
      "name": "None",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        1000
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": " "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ec60f33-b940-40a6-9f8a-cb944b7065f1",
              "name": "stylePrompt",
              "type": "string",
              "value": "=asymmetric composition, golden ratio, neon colors, abstract forms, octane render, cinematic realism, unreal engine, 8k ::7 --ar 16:9 --s 1000\nCreate a bold, vivid composition using neon colors and fluid shapes that break away from reality. Focus on abstract forms, blending Fauvism's exaggerated color palette with modern digital art techniques. Use asymmetric composition and dynamic lighting. Render with a vibrant, high-energy aesthetic. Include:"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8200c9cc-549a-40c3-a149-ed65dec309d7",
      "name": "Neon Fauvism",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        600
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": " "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ec60f33-b940-40a6-9f8a-cb944b7065f1",
              "name": "stylePrompt",
              "type": "string",
              "value": "=golden ratio, rule of thirds, cyberpunk, glitch art, octane render, cinematic realism, 8k ::7 --ar 16:9 --s 1000\n\nGenerate a futuristic, cyberpunk dystopia with metallic textures, digital glitches, and neon lights. Blend cold, dystopian structures with traces of organic life. Use photorealistic lighting and dynamic reflections to enhance the visual depth of the scene. Include:"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1c5a87d1-7b1f-41fc-8239-ddd7c037060f",
      "name": "AI Dystopia",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        400
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": " "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ec60f33-b940-40a6-9f8a-cb944b7065f1",
              "name": "stylePrompt",
              "type": "string",
              "value": "=rule of thirds, golden ratio, hyper-maximalist, vibrant neon, high-contrast, octane render, photorealism, 8k ::7 --ar 16:9 --s 1000\n\nDesign a fun, energetic scene filled with bold, neon colors, and playful shapes that pop off the screen. The image should evoke a sense of joy and movement, using fluid, organic forms and exaggerated, cartoon-like proportions. Focus on creating a lively atmosphere with contrasting, saturated tones and dynamic lighting. Use a mix of asymmetrical and balanced compositions to create a playful visual flow. Render in 8K with a hyper-maximalist approach using Octane Render for vibrant, high-gloss textures and photorealistic lighting effects. Include:"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "93d13809-65d1-4d6c-9957-cb8fae642dee",
      "name": "Vivid Pop Explosion",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        800
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": " "
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "sharex",
        "fileName": "={{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id }}.jpeg",
        "additionalFields": {}
      },
      "id": "6733cd60-abf0-478e-8b8a-c43bade6fb6a",
      "name": "将图片上传到 R1",
      "type": "n8n-nodes-base.s3",
      "position": [
        1580,
        340
      ],
      "typeVersion": 1,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "path": "4258eb4a-e4da-41a3-9c9d-60cf7d637159",
        "formTitle": "Flux绘画生成",
        "formDescription": "教程见LinuxDo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt",
              "fieldType": "textarea",
              "placeholder": "落日晚霞",
              "requiredField": true
            },
            {
              "fieldLabel": "图片比例",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "21:9"
                  },
                  {
                    "option": "16:9"
                  },
                  {
                    "option": "4:3"
                  },
                  {
                    "option": "3:2"
                  },
                  {
                    "option": "1:1"
                  },
                  {
                    "option": "2:3"
                  },
                  {
                    "option": "3:4"
                  },
                  {
                    "option": "9:16"
                  },
                  {
                    "option": "9:21"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "超现实逃逸"
                  },
                  {
                    "option": "霓虹野兽派"
                  },
                  {
                    "option": "后模拟故障景观"
                  },
                  {
                    "option": "AI 反乌托邦"
                  },
                  {
                    "option": "鲜艳流行爆炸"
                  }
                ]
              }
            },
            {
              "fieldLabel": "图生图（上传启用）",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": " .jpg, .png, .webp"
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3b89e134-24ac-46a7-95f6-5f148130932a",
      "name": "n8n 表单触发器",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1260,
        500
      ],
      "webhookId": "4258eb4a-e4da-41a3-9c9d-60cf7d637159",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bcc59de6-80ae-4174-bf8f-320844566fe0",
              "leftValue": "={{ $json['图生图（上传启用）'] }}",
              "rightValue": "否",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3f225f2-9f09-4833-acd6-4ccb4c683048",
      "name": "If条件判断",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        500
      ],
      "retryOnFail": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"formSubmittedText\": \"Fal API调用失败，重试或刷新试试 \"\n}",
        "options": {}
      },
      "id": "dc917d8c-842d-4fe0-920b-baff9ee6bdfa",
      "name": "回复错误2",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2020,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "={{ $('查询进度').item.json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "7f8de78a-1851-4b19-9994-8e7239990531",
      "name": "获取图片",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        240
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "vL4PuXmIFb5sE1K0",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.status_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a877f58c-380e-4a0a-b3a5-79c538b17c16",
      "name": "查询进度",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        720,
        100
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "vL4PuXmIFb5sE1K0",
          "name": "Header Auth account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": " "
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "id": "3bfa6066-f804-4625-94d2-2430bcd048ab",
      "name": "下载图片",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1360,
        340
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "5da38c94-4f5e-4894-a497-f4c227849aa2",
      "name": "等待3秒",
      "type": "n8n-nodes-base.wait",
      "position": [
        520,
        100
      ],
      "webhookId": "61a8626c-e281-4d4b-abb0-b9d87d1b4e7c",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bcc59de6-80ae-4174-bf8f-320844566fe0",
              "leftValue": "={{ $json.success }}",
              "rightValue": "否",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5cd2817e-6dbe-48ff-933f-49b64070be5c",
      "name": "If条件判断2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        220
      ],
      "retryOnFail": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "299a7c34-dcff-4991-a73f-5b1a84f188ea",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4c4de556-8f3f-4d50-9027-32d7b5808805",
      "name": "If条件判断1",
      "type": "n8n-nodes-base.if",
      "position": [
        940,
        440
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $json.prompt }}{{ $json.stylePrompt }}?width=1024&height=1024&model=flux&nologo=true",
        "options": {}
      },
      "id": "d72fc7e8-ec84-4d29-98b1-367a36637ded",
      "name": "调用 硅基流动 推理 API1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        400,
        780
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "retryOnFail": false,
      "onError": "continueErrorOutput",
      "notes": " "
    },
    {
      "parameters": {
        "operation": "information"
      },
      "id": "50e99458-8420-4d33-8dfc-44c58e0b4a95",
      "name": "Get Meta BG1",
      "type": "n8n-nodes-base.editImage",
      "position": [
        840,
        940
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb3fd91-c13d-45ce-a7ec-612319a008fc",
              "name": "metaBg",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {
          "includeBinary": true
        }
      },
      "id": "b0695ead-e50d-43b5-bd48-651928c17b25",
      "name": "Nest Bg Meta1",
      "type": "n8n-nodes-base.set",
      "position": [
        1020,
        940
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function arrayBufferToBase64(buffer) {\n  let binary = '';\n  const bytes = new Uint8Array(buffer);\n  for (let i = 0; i < bytes.byteLength; i++) {\n    binary += String.fromCharCode(bytes[i]);\n  }\n  return binary; // 转换为Base64\n}\n\n// 示例：假设 binaryData 是 ArrayBuffer 或 Uint8Array\n\n$input.item.binary.bg = $input.item.binary.data;\ndelete $input.item.binary.data;\nconst base64String = arrayBufferToBase64($input.item.binary.bg);\nreturn base64String;"
      },
      "id": "4aff0dde-b20f-464d-a526-738709120005",
      "name": "Rename Image Binary Background Image1",
      "type": "n8n-nodes-base.code",
      "position": [
        1200,
        940
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"formSubmittedText\": \"Fal API 调用失败，重试或刷新试试 \"\n}",
        "options": {}
      },
      "id": "afb2b44a-e374-49c3-9a27-c299c0168bc1",
      "name": "回复错误3",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        360,
        1220
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "inputFieldName": "bg",
        "options": {}
      },
      "id": "89b71587-f595-482f-a70f-78644e86d64f",
      "name": "成功响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2520,
        1100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n\n  const centerX = ($input.item.json.metaBg.size.width - $input.item.json.metaTop.size.width);\n  const centerY = ($input.item.json.metaBg.size.height - $input.item.json.metaTop.size.height);\n\n  $input.item.json.center = { x: centerX, y: centerY };\n\nreturn $input.item"
      },
      "id": "b0e006f0-fcc3-4650-8bb7-4f171eff102d",
      "name": "Calculate Center1",
      "type": "n8n-nodes-base.code",
      "position": [
        1920,
        1280
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "9a010e16-dd82-4ffb-b478-ab8582eb973d",
      "name": "Wait for both Images and merge Binary in one Item1",
      "type": "n8n-nodes-base.merge",
      "position": [
        1680,
        1100
      ],
      "typeVersion": 2.1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "composite",
        "dataPropertyName": "bg",
        "dataPropertyNameComposite": "top",
        "operator": "Plus",
        "positionX": "={{ $json.center.x }}",
        "positionY": "={{ $json.center.y }}",
        "options": {
          "fileName": "out.png",
          "format": "jpeg"
        }
      },
      "id": "382a04d8-528e-4149-b66c-0f61f80100f1",
      "name": "Let \"top\" overlay \"bg\"1",
      "type": "n8n-nodes-base.editImage",
      "position": [
        2300,
        1100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"zh-CN\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Flux 图片生成结果</title>\n    <style>\n        body {\n            font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            justify-content: flex-start;\n            min-height: 100vh;\n            background-color: #121212;\n            color: #e0e0e0;\n            margin: 0;\n            padding: 20px;\n        }\n\n        .container {\n            width: 90%;\n            max-width: 800px;\n            text-align: center;\n            background: linear-gradient(145deg, #1e1e1e, #242424);\n            padding: 32px;\n            border-radius: 16px;\n            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);\n            margin-bottom: 32px;\n        }\n\n        .image-container {\n            margin-bottom: 24px;\n        }\n\n        .image-container img {\n            max-width: 100%;\n            height: auto;\n            border-radius: 12px;\n            border: 2px solid #333;\n            transition: transform 0.3s ease, box-shadow 0.3s ease;\n        }\n\n        .image-container img:hover {\n            transform: scale(1.02);\n            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);\n        }\n\n        .style-text {\n            font-size: 18px;\n            margin: 24px 0;\n            color: #bbb;\n            padding: 12px;\n            background: rgba(255, 255, 255, 0.05);\n            border-radius: 8px;\n        }\n\n        .cta {\n            display: inline-block;\n            width: auto;\n            min-width: 200px;\n            margin: 20px 0 0;\n            padding: 16px 32px;\n            border: none;\n            border-radius: 8px;\n            text-decoration: none;\n            color: #fff;\n            background: linear-gradient(135deg, #1C9985, #20B69E);\n            font-size: 18px;\n            font-weight: 500;\n            cursor: pointer;\n            transition: all 0.3s ease;\n        }\n\n        .cta:hover {\n            background: linear-gradient(135deg, #20B69E, #25D4B8);\n            transform: translateY(-2px);\n            box-shadow: 0 8px 16px rgba(28, 153, 133, 0.3);\n        }\n\n        .recent-renders {\n            width: 90%;\n            max-width: 800px;\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 24px;\n            margin-top: 32px;\n        }\n\n        .recent-render {\n            background-color: #2c2c2c;\n            padding: 16px;\n            border-radius: 12px;\n            transition: transform 0.3s ease, box-shadow 0.3s ease;\n        }\n\n        .recent-render:hover {\n            transform: translateY(-4px);\n            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);\n        }\n\n        .recent-render img {\n            width: 100%;\n            height: auto;\n            border-radius: 8px;\n            border: 2px solid #333;\n            transition: transform 0.3s ease;\n        }\n\n        /* 隐藏额外的图片 */\n        .recent-render:nth-child(n+5) {\n            display: none;\n        }\n\n        /* 显示更多按钮样式 */\n        .show-more-label {\n            display: inline-block;\n            width: 90%;\n            max-width: 800px;\n            margin: 32px auto;\n            padding: 16px;\n            background: #2c2c2c;\n            color: #fff;\n            border: none;\n            border-radius: 8px;\n            font-size: 16px;\n            cursor: pointer;\n            transition: all 0.3s ease;\n            text-align: center;\n        }\n\n        .show-more-label:hover {\n            background: #333;\n            transform: translateY(-2px);\n        }\n\n        /* 隐藏复选框 */\n        #show-more {\n            display: none;\n        }\n\n        /* 当复选框被选中时显示额外的图片 */\n        #show-more:checked ~ .recent-renders .recent-render:nth-child(n+5) {\n            display: block;\n        }\n\n        /* 当复选框被选中时隐藏显示更多按钮 */\n        #show-more:checked ~ .show-more-label {\n            display: none;\n        }\n\n        @media (max-width: 768px) {\n            .recent-renders {\n                grid-template-columns: 1fr;\n            }\n            \n            .container {\n                padding: 20px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"image-container\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id }}.jpeg\" alt=\"生成的图片\" />\n        </div>\n        <div class=\"style-text\">图片风格: {{ $('n8n 表单触发器').item.json.Style }}</div>\n        <a href=\"https://note.ff2a.com/flux\" class=\"cta\">更多提示词</a>\n    </div>\n\n    <!-- 添加隐藏的复选框 -->\n    <input type=\"checkbox\" id=\"show-more\">\n\n    <div class=\"recent-renders\">\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 1 }}.jpeg\" alt=\"最近渲染 1\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 2 }}.jpeg\" alt=\"最近渲染 2\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 3 }}.jpeg\" alt=\"最近渲染 3\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 4 }}.jpeg\" alt=\"最近渲染 4\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 5 }}.jpeg\" alt=\"最近渲染 5\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 6 }}.jpeg\" alt=\"最近渲染 6\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 7 }}.jpeg\" alt=\"最近渲染 7\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"data:image/jpeg;base64,{{$input.item.binary.bg}}\" alt=\"最近渲染 8\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 9 }}.jpeg\" alt=\"最近渲染 9\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 10 }}.jpeg\" alt=\"最近渲染 10\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 11 }}.jpeg\" alt=\"最近渲染 11\">\n        </div>\n        <div class=\"recent-render\">\n            <img src=\"https://example.com/{{ $now.toFormat('yyyy') }}/{{ $now.toFormat('MM') }}/{{ $execution.id - 12 }}.jpeg\" alt=\"最近渲染 12\">\n        </div>\n    </div>\n\n    <!-- 显示更多按钮标签 -->\n    <label for=\"show-more\" class=\"show-more-label\">显示更多</label>\n</body>\n</html>",
        "options": {}
      },
      "id": "7ccecab3-5065-4447-85c2-cf1e7dfddeb8",
      "name": "提供结果网页1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1780,
        780
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=function arrayBufferToBase64(buffer) {\n  let binary = '';\n  const bytes = new Uint8Array(buffer);\n  for (let i = 0; i < bytes.byteLength; i++) {\n    binary += String.fromCharCode(bytes[i]);\n  }\n  return window.btoa(binary); // 转换为Base64\n}\n\n$input.item.binary.bg\nconst base64String = arrayBufferToBase64(binaryData);\ndocument.getElementById('myImage').src = `data:image/jpeg;base64,${base64String}`;",
        "options": {}
      },
      "id": "9c1f779f-21cd-423f-9282-9017092862bf",
      "name": "提供结果网页2",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1460,
        1280
      ],
      "typeVersion": 1.1
    }
  ],
  "pinData": {
    "Vivid Pop Explosion": [
      {
        "json": {
          "prompt": "A vibrant and ethereal sunset sky, showcasing the dramatic afterglow with gradients of fiery orange, soft rose, and deep indigo. The last rays of golden light illuminate wispy clouds, casting a serene and majestic atmosphere over a silhouetted landscape. Highly detailed digital painting, cinematic lighting, tranquil mood.",
          "stylePrompt": "rule of thirds, golden ratio, hyper-maximalist, vibrant neon, high-contrast, octane render, photorealism, 8k ::7 --ar 16:9 --s 1000\n\nDesign a fun, energetic scene filled with bold, neon colors, and playful shapes that pop off the screen. The image should evoke a sense of joy and movement, using fluid, organic forms and exaggerated, cartoon-like proportions. Focus on creating a lively atmosphere with contrasting, saturated tones and dynamic lighting. Use a mix of asymmetrical and balanced compositions to create a playful visual flow. Render in 8K with a hyper-maximalist approach using Octane Render for vibrant, high-gloss textures and photorealistic lighting effects. Include:"
        }
      }
    ]
  },
  "repo_name": "n8n_flow",
  "repo_owner": "xxx675702999",
  "repo_path": "flow",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-29T09:17:05.000Z",
  "versionId": "0ee9099f-4c2f-44a6-8ac8-a58b216c5768"
}